body {
  margin: 0;
}
p, span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight:300;
}
p {
  margin: 0;
}
.block {
  width:1000px;
  margin: 100px auto;
  display: flex;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.logo {
  margin-left:100px;
  margin-top: 50px;
  position: absolute;
}
.inputDiv {
  width: fit-content;
  padding: 185px 100px 100px;
  background: url(./images/bg-pattern-desktop.svg) no-repeat 0 0 / cover;
}
.title p{
  letter-spacing: 10px;
  font-size: 50px;
}
.title p:first-child {
  color:hsl(0, 36%, 70%);
}
.title p:nth-child(2),
.title p:nth-child(3) {
  font-weight: 600;
}
.desc {
  margin: 20px 0;
  color:hsl(0, 36%, 70%);
  line-height: 20px;
}
.form {
  height: 70px;
}
.email {
  font-weight:400;
  background-color: transparent;
  width: 100%;
  padding: 12px 15px;
  border: 2px solid hsl(0, 36%, 70%);
  border-radius: 20px;
  outline: none;
  color: hsl(0, 36%, 70%);
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
.email::placeholder {
  color: hsl(0, 25%, 85%);
}
.email.error {
  border: 2px solid hsl(0, 93%, 68%);
  background: url(./images/icon-error.svg) no-repeat 71% center / 18px;
}
.submit {
  position: absolute;
  width: 80px;
  height: 43px;
  border: 0;
  border-radius: 21px;
  margin-left: -78px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 5px 13px 10px hsla(0, 36%, 70%, 0.3);
}
.submit:hover {
  cursor: pointer;
  background: linear-gradient(135deg, hsl(0, 82%, 93%), hsl(0, 71%, 81%));
  box-shadow: 5px 13px 10px hsla(0, 36%, 70%, 0.5);
}
.submit img {
  margin-left: 5px;
}
.errorMsg {
  display:inline-block;
  margin:10px 15px;
  font-size:14px;
  color: hsl(0, 93%, 68%);
  font-weight: 400;
}

.heroDiv {
  width:100%;
  background: url(./images/hero-desktop.jpg) no-repeat 0 0 / cover;
}

@media(max-width: 1100px){
  .block {
    width:350px;
    flex-direction: column-reverse;
  }
  .logo {
    margin-top:0px;
    margin-left: 0;
    top: 30px;
  }
  .inputDiv {
    padding:50px 40px;
  }
  .heroDiv {
    height:250px;
  }
  .title p {
    font-size: 40px;
    text-align:center;
  }
  .email.error {
    background: url(./images/icon-error.svg) no-repeat 66% center / 18px;
  }
  .heroDiv {
    background: url(./images/hero-mobile.jpg) no-repeat 0 0 / cover;
  }
}