body { background-color: hsl(0, 0%, 86%);}
.block { 
  width: 50%;
  max-width: 750px;
  min-width: 550px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white; 
  padding: 40px;
  border-radius: 20px;
  border-bottom-right-radius: 100px;
}
@media (max-width: 550px){
  .block {
    width: 80%;
    min-width: 370px;
  }
}

input {
  width: 100px;
  padding: 10px 20px;
  border:1px solid hsl(0, 0%, 86%);
  border-radius: 10px;
  box-shadow: none;
  font-size: 32px;
}
@media (max-width: 550px){
  input {
    width: 80px;
    padding:10px 13px;
    border-radius: 5px;
    font-size: 20px;
  }
}
input:focus{ 
  outline: none;
  border: 1px solid hsl(259, 100%, 65%);
}
input, span { font-family: 'Poppins', sans-serif; }
.inputDiv {
  display: flex;
  height:110px;
}
.inputDiv > div {
  width: min-content;
  margin-right:20px;
}
.inputDiv span {
  color: hsl(0, 1%, 44%);
}
.inputDiv span.error {
  color: hsl(0, 100%, 67%);
}
.inputDiv input.error {
  border: 1px solid hsl(0, 100%, 67%);
}
.inputDiv .msg {
  color:hsl(0, 100%, 67%);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.buttonDiv {
  text-align: right;
}
.line {
  position: relative;
  top: 40px;
  left:0; 
  right:0;
  margin-right: 80px;
  border-bottom:1px solid hsl(0, 0%, 86%);
}
.arrow-1::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: white;
  margin-left: -40px;
  margin-top: 20px;
  pointer-events: none;
}
.arrow-2::after {
  content: '';
  position: absolute;
  margin-left:-60px;
  margin-top: 40px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  border-style: solid solid none none;
  border-color: white;
  border-width: 1px;
  pointer-events: none;
}
.arrow-3::after {
  content: ''; 
  position:absolute;
  margin-left:-40px;
  margin-top: 40px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 20px;
  border-style: solid none none solid;
  border-color:white;
  border-width:1px;
  pointer-events: none;
}
.arrow-1::after,
.arrow-2::after,
.arrow-3::after{
  z-index:1;
}
@media (max-width: 550px){
  .buttonDiv{
    margin:20px 0 30px;
    text-align:center;
  }
  .line {
    margin-right: 0px;
  }
  .arrow-1::after,
  .arrow-3::after {
    margin-left:0px;
  }
  .arrow-2::after{
    margin-left: -20px;
  }
}

button {
  position:relative;
  width:80px;
  height:80px;
  border-radius:40px;
  border:0px;
  background-color: hsl(259, 100%, 65%);
}
button:active {
  background-color: black;
}
.resultDiv {
  margin-top:-20px;
}
.resultDiv span { 
  font-size: 80px;
  font-style: italic;
  font-weight: 800;
  display: inline-block;
  height: 100px;
}
@media (max-width: 550px){
  .resultDiv span { 
    font-size: 65px;
    height: 80px;
  }
}
.resultDiv div span:nth-child(1){
  color: hsl(259, 100%, 65%);
}